{% extends 'navigation.html' %}

{% block content%}
<html>
<head>
	<meta charset="utf-8">
	<title>Hypertension prediction! </title>
	<!-- CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body></br></br></br>
	<div align="center">
	<div align="center" class="border">
	<div class="login">
		<h2>Hypertension prediction</h2>
			<p>Please enter your information:</p>
			
			<form name=form action="{{url_for('predict')}}" method="post">			
				
				<label>Age</label>
				<select name="age1" id="age1">	
				<option value=""></option>
				<option value="1">18-24</option>
				<option value="2">25-29 </option>
				<option value="3">30-34</option>
				<option value="4">35-39</option>
				<option value="5">40-44 </option>	
				<option value="6">45-49</option>
				<option value="7">50-54</option>
				<option value="8">55-59</option>
				<option value="9">60-64</option>				
				<option value="10">65-69</option>
				<option value="11">70-74</option>
				<option value="12">75-79</option>
				<option value="13">80+</option>	
				</select>
				<input type="number" min="1" max="13" name="age" id="age" required="required" onchange="textfield()">
				<br><br>
				<label for="sexc">Sex</label>
				<select name="sexc" id="sexc">
				<option value=""></option>				
				<option value="0">F</option>
				<option value="1">M </option>	
				</select>
				
				<input type="number" min="0" max="1" step="1" name="sex" id="sex" required="required" onchange="textfield()">
				<script>
				var select1 = document.getElementById('age1');
				var select2 = document.getElementById('sexc');
				var input1 = document.getElementById("age");
				var input2 = document.getElementById("sex");
				select1.onchange = function() {
					input1.value = select1.value;
				}
				select2.onchange = function() {
					input2.value = select2.value;
				}
				</script> 
				<br><br>		
				<label>BMI (kg/m²)</label>
				<input type="number" name="bmi" placeholder="Enter your BMI" required="required"/></br>
				</br>		
				</script>
				<label>Smoker</label>
				<select name="smc" id="smc">
				<option value=""></option>				
				<option value="1">Y</option>
				<option value="0">N </option>	
				</select>
				<input type="number" min="0" max="1" step="1" name="smoker" id="smoker" required="required" onchange="textfield()">
				<br><br>
				<label>Physical Activity</label>
				<select name="phy" id="phy">
				<option value=""></option>				
				<option value="1">Y</option>
				<option value="0">N </option>	
				</select>
				<input type="number" min="0" max="1" step="1" name="physactivity" id="physactivity" required="required" onchange="textfield()">
				<br><br>
				<label>Fruits</label>
				<select name="frts" id="frts">
				<option value=""></option>				
				<option value="1">Y</option>
				<option value="0">N </option>	
				</select>
				<input type="number" min="0" max="1" step="1"name="fruits" id="fruits" required="required" onchange="textfield()">
				<br><br>
				<label>Veggies</label>
				<select name="veg" id="veg">
				<option value=""></option>				
				<option value="1">Y</option>
				<option value="0">N </option>	
				</select>
				<input type="number" min="0" max="1" step="1" name="veggies" id="veggies"  required="required" onchange="textfield()">
				<br><br>
				<label>Alcohol</label>
				<select name="alco" id="alco">
				<option value=""></option>				
				<option value="1">Y</option>
				<option value="0">N </option>	
				</select>
				<input type="number" min="0" max="1" step="1" name="alcohol" id="alcohol" required="required" onchange="textfield()">
				<script>
				var select3 = document.getElementById('smc');
				var select4 = document.getElementById('phy');
				var select5 = document.getElementById('frts');
				var select6 = document.getElementById('veg');
				var select7 = document.getElementById('alco');
				var input3 = document.getElementById("smoker");
				var input4 = document.getElementById("physactivity");
				var input5 = document.getElementById("fruits");
				var input6 = document.getElementById("veggies");
				var input7 = document.getElementById("alcohol");
				select3.onchange = function() {
					input3.value = select3.value;
				}
				select4.onchange = function() {
					input4.value = select4.value;
				}
				select5.onchange = function() {
					input5.value = select5.value;
				}
				select6.onchange = function() {
					input6.value = select6.value;
				}
				select7.onchange = function() {
					input7.value = select7.value;
				}
				</script> 
				<br><br>		
                <br><button type="submit" class="btn btn-primary btn-block btn-large"> Predict</button></b>
				</div>
		
					<h1 class="bottom">			
				</h1>
				
				<b>{{prediction_text}}</b>
		
				</div>	
			</form>
			<br>
			<br>	
		
	</div>
	</div>
	</div>
	
</body>
</html>
{% endblock %}