{% extends 'navigation.html' %}

{% block content%}

<html>
	<head>
		<meta charset="UTF-8">
		<title> about </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">		
    </head>
    <body></br></br></br></br></br>
         <div align="center">
        <div align="justify" class="border">
        <div text-color: #0a0a0a;></div>
            
        <h3 class="word">Contact</h3>
        <h4>            
            Phone: 781 308-5140
            Email: misliebruneau@gmail.com
            <h4>
			
	
			
		
	</body>
</html>
{% endblock %}
