{% extends 'navigation.html' %}

{% block content%}

<html>
	<head>
		<meta charset="UTF-8">
		<title> about </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">		
    </head>
    <body></br></br></br></br></br>
         <div align="center">
        <div align="justify" class="border">
        <div text-color: #0a0a0a;></div>
            
        <h1 class="word">Contact</h1>
        <h3>            
             Name:Mislie Bruneau</p></p>
             Phone:781 308-5140</p></p>
             Email: misliebruneau@gmail.com
            <h3>
        <h1 class="word">Frequently ask question (FAQ) </h1>	
	
		<h5>            
            Q1.	What should I do if I forget my username and password? </p></p>
                If you forgot your username and password, please refer to the contact support located above</p></p>
            Q2.	Where can I find my age group? </p></p>
                Your age group will be in the range from the starting point to the end point, for example if am 32 years old, my age group is 30-34. </p></p>
            Q3.	How can I control my physical activity? </p></p>
                If you were active physical activity in the past 30 days - not including job, you are considered as physically active</p></p>
                
           <h5>	
		
	</body>
</html>
{% endblock %}
